/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* FINE RESET */

/* Inizio Esercizio 1 */
.ex-1-square {
  transition: background 3s;
}

.ex-1-square:hover {
  background: red;

}
/* Fine Esercizio 1 */

/* Inizio Esercizio 2 */
.ex-2-square {
  transition: width 3s;
}

.ex-2-square:active {
  width: 100%;
}
/* Fine Esercizio 2 */

/* Inizio Esercizio 3 */
.ex-3-square {
  transition: border-radius 1s linear;
}

.ex-3-square:hover {
  border-radius: 50%;
}
/* Fine Esercizio 3 */

/* Inizio Esercizio 4 */
.ex-4-square {
  opacity: 1;
  transition: opacity 3s;
}

.ex-4-square:hover {
  opacity: 0;
}
/* Fine Esercizio 4 */

/* Inizio Esercizio 5 */
.ex-5-square {
  transition: width 0.3s linear, height 0.3s linear, margin 0.3s linear;
}

.ex-5-square:hover {
  width: 100px;
  height: 100px;
  margin: 0;
}

.ex-5-square:active {
  width: 20px;
  height: 20px;
  margin: 40px;
}
/* Fine Esercizio 5 */

/* Inizio Esercizio 6 */
.ex-6-img:hover {
  filter: grayscale(100%);
}
/* Fine Esercizio 6 */

/* Inizio Esercizio 7 */
.ex-7-img {
  transition: filter 3s;
}

.ex-7-img:hover {
  filter: sepia(0.8) grayscale(50%);
}
/* Fine Esercizio 7 */

/* Inizio Esercizio 8 */
.ex-8-img {
  transition: filter 3s, border-radius 3s;
}

.ex-8-img:hover {
  filter: sepia(0.8) grayscale(50%);
  border-radius: 20px;
}
/* Fine Esercizio 8 */

/* Inizio Esercizio 9 */
.ex-9-img {
  transition: filter 3s, border-radius 3s, transform 3s;
}

.ex-9-img:hover {
  filter: sepia(0.8) grayscale(50%);
  border-radius: 20px;
  transform: scale(1.5);
}
/* Fine Esercizio 9 */

/* Inizio Esercizio 10 */
.ex-10-icon {
  animation-name: spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  animation-timing-function: linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
/* Fine Esercizio 10 */

/* Inizio Esercizio 11 */
.ex-11-icon:hover {
  animation-name: spin2;
  animation-duration: 2s;
  animation-timing-function: linear;
}

@keyframes spin2 {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
/* Fine Esercizio 11 */

/* Inizio Esercizio 12 */
.ex-12-button:hover .ex-12-bottom-white {
  animation-name: blank-space;
  animation-duration: 1s;
  animation-iteration-count: 2;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes blank-space {
  0% {
    bottom: -10px;
    right: 20%;
  }

  25% {
    bottom: -10px;
    right: 30%;
  }

  50% {
    bottom: -10px;
    right: 45%;
  }

  75% {
    bottom: -10px;
    right: 55%;
  }

  100% {
    bottom: -10px;
    right: 65%;
  }
}

.ex-12-button:hover .ex-12-top-white {
  animation-name: blank-space2;
  animation-duration: 1s;
  animation-iteration-count: 2;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes blank-space2 {
  0% {
    top: -10px;
    left: 10%;
  }

  25% {
    top: -10px;
    left: 25%;
  }

  50% {
    top: -10px;
    left: 40%;
  }

  75% {
    top: -10px;
    left: 55%;
  }

  100% {
    top: -10px;
    left: 65%;
  }

}
/* Fine Esercizio 12 */

/* Inizio Esercizio 13 */
.ex-13-button:hover .ex-13-bottom-white {
  animation-name: blank-space3;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: linear;
}

@keyframes blank-space3 {
  0% {
    bottom: -10px;
    right: 20%;
  }

  25% {
    bottom: -10px;
    right: 100%;
  }

  50% {
    bottom: 60px;
    right: 100%;
    width: 1px;
  }

  75% {
    bottom: 60px;
    right: -10%;
    width: 1px;
  }

  100% {
    bottom: -10px;
    right: -10%;
  }
}

.ex-13-button:hover .ex-13-top-white {
  animation-name: blank-space4;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: linear;
}

@keyframes blank-space4 {
  0% {
    top: -10px;
    left: 10%;
  }

  25% {
    top: -10px;
    left: 100%;
  }

  50% {
    width: 1px;
    top: 60px;
    left: 100%;
  }

  75% {
    top: 60px;
    left: -10%;
    width: 1px;
  }

  100% {
    top: -10px;
    left: 0;
  }
}
/* Fine Esercizio 13 */
